.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 750px;
    width: 450px;
    background-color: grey;
}