.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 450px;
    background-color: grey;
}

.window {
    flex: 1 0 auto;
}

.btns {
    display: flex;
    flex: 0 1 auto;
}

.numbers {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    align-content: flex-end;
}

.operators {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.op {
    flex: 1 0 auto;
}

.num {
    padding-block: 0px;
    padding-inline: 0px;
}